@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #47E8CD, #5BFF89);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0f3834;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #1D6E66;
    text-align: center;
    text-shadow: 1px 1px 2px #164944;
}

h2{
    color: #8767be;
}

p{
    text-align: justify;
}